.dev {
  border: 1px solid red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dfe6e9;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-6 {
  width: 380px;
}

form {
  padding: 1rem;
  background: #fff;
  border: 1px solid #ccc;
}

form input {
  width: 100%;
  margin-bottom: 1rem;
  background: #dfe6e9;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}

form input:focus {
  outline: 1px solid #8a53ed;
}

form h2 {
  text-align: center;
}

form input[type="submit"] {
  background-color: #8a53ed;
  color: #fff;
  cursor: pointer;
}

form p {
  text-align: center;
}

form p a {
  color: #8a53ed;
}

.auth-btn {
  background: red;
  color: #fff;
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.error {
  border: 1px solid #e94f4f;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #eb4545;
  background: #ff00000d;
}

.success {
  border: 1px solid #009688;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #009688;
  background: #00968817;
}
